---
import '../styles/global.css';
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { title, lang } = Astro.props;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/mkuhles/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header pageTitle={title} lang={lang} />
        <main>
            <slot />
        </main>
        <Footer lang={lang} />
	</body>
</html>

<script>
import { writeCssVarsToHTML } from "../scripts/collorCalculations";

writeCssVarsToHTML();
</script>
